.genreCard{
    padding:$s2;
    display:flex;
    flex-direction: column;
    gap:$s1;
    width:160px;
    border: solid 1px $peachSecondary;
    border-radius: $r3;
    color:$black;
    

    img{
        align-self: center;
        border-radius:$r1;
    }

    &:hover{
        background-color:$lightPeach;
        cursor: pointer;
    }
}