.recentlyPlayedContainer{
    background-color: $white;
    border-radius: $r4;
    width:100%;
   height:457px;
    padding:$s3;
    color:$black;
    display: flex;
    flex-direction: column;
    gap:$s3;
    overflow-x: hidden;
    overflow-y: auto;
}

.recentlyPlayedCards{

    display:flex;
    flex-direction: column;
    gap:$s2;
    
    .recentlyPlayedCard{
        background-color:$whiteSolid;
        padding:$s2;
        border-radius:$r2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:$s2;
    
       .recentlyPlayedDetails{
        display: flex;
        gap:$s2;
        align-items: center ;

        img{
            border-radius:$r1;
        }
        .recentlyPlayedTileAndArtist{
            display:flex;
            flex-direction: column;

            
        }
       }
        
        .recentlyPlayedButtons{
            display:flex;
            align-items: center;
            gap:$s2;
            text-align: right;

            p{
                color:darkGrey;
                span{
                    font-weight: 700;
                    
                }
            }
           
        }
    }
}
