.topHeader{
    display:flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    
   

    .pageTitle{
        display:flex;
        gap:$s1;
        align-items: center;
        h1{
            color:$black;
        }
        h2{
            color:$darkGrey;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .userProfile{
        display:flex;
        gap:$s2;
        color:$black;
        align-items: center;

        img{
            width:50px;
            height:50px;
            object-fit: cover;
            border-radius: $r1;
        }


        div{
            display:flex;
            flex-direction: column;

            p{
                font-size: 0.8rem;
                font-weight: 400;
                color:$darkGrey
            }
        }
    }
}