.dashboard{
    height:100vh;
    display: flex;;
}

.mainWrapper{
    padding:$s3;
    width:100%;
    display:flex;
    flex-direction:column;
    gap:$s4;
    overflow: hidden;
}

.playerAndRecentlyPlayedContainer{
    display:flex;
    gap:$s3;
    
}

