/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  font-size: 1.5rem;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.25rem;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.menuText {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.menuTitle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.songTitle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  font-size: 1.12rem;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #353535;
}

.ctaSpotify {
  color: rgba(255, 255, 255, 0.5137254902);
  background-color: #1DB954;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-basis: auto;
}
.ctaSpotify:hover {
  background-color: #168d40;
  box-shadow: 0px 4px 42px -12px rgba(29, 185, 84, 0.5);
}

.sideNav {
  width: 314px;
  background-color: #f9f9f9;
  height: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-start;
}
.sideNav img {
  align-self: flex-start;
}
.sideNav .menuLists {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sideNav .menuLists .menuList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sideNav .menuLists .menuList .menuTitle {
  color: #99938F;
}

.menuItem {
  color: #99938F;
}
.menuItem:hover {
  color: #FF7E3A;
  cursor: pointer;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.topHeader .pageTitle {
  display: flex;
  gap: 8px;
  align-items: center;
}
.topHeader .pageTitle h1 {
  color: #353535;
}
.topHeader .pageTitle h2 {
  color: #99938F;
  font-size: 1rem;
  font-weight: 400;
}
.topHeader .userProfile {
  display: flex;
  gap: 16px;
  color: #353535;
  align-items: center;
}
.topHeader .userProfile img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.topHeader .userProfile div {
  display: flex;
  flex-direction: column;
}
.topHeader .userProfile div p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #99938F;
}

.genreList {
  background-color: rgba(255, 255, 255, 0.5137254902);
  width: 100%;
  height: auto;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}
.genreList h2 {
  color: #353535;
}

.genreContHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genreListCont {
  display: flex;
  gap: 24px;
}

.chevronCont {
  display: flex;
  gap: 24px;
}

.swiper {
  width: 100%;
}

.carouselButton:hover {
  cursor: pointer;
}

.genreCard {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 120px;
  border: solid 1px #FFD7C2;
  border-radius: 16px;
  color: #353535;
}
.genreCard img {
  align-self: center;
  border-radius: 8px;
}
.genreCard:hover {
  background-color: #FFEADF;
  cursor: pointer;
}

.player {
  width: 260px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
  background-color: rgba(255, 255, 255, 0.5137254902);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  flex-shrink: 0;
}
.player .songThumbnail {
  width: 228px;
  height: 228px;
  border-radius: 16px;
}
.player .trackDetails {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.player .trackDetails p {
  color: #99938F;
}

.audioCont {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5137254902);
}
.audioCont .controlBar {
  flex-direction: column;
  width: 100%;
}
.audioCont .controlBar .timerBar {
  display: flex;
  justify-content: space-between;
}
.audioCont .controlBar .timerBar .timer {
  padding: 0;
  color: #99938F;
  --media-control-background:$white;
}
.audioCont .controlBar .seeker {
  --media-control-padding: 4px;
  width: 100%;
  --media-range-track-width: 100%;
  --media-control-background: rgb(27 54 93 / 0);
  --media-control-hover-background: transparent;
  --media-range-thumb-background:#FF7E3A;
  --media-range-thumb-border: 2px solid #ffffff;
  --media-range-bar-color:#FF7E3A;
  --media-range-track-pointer-background: #FF7E3A;
  --media-range-track-background: #FFD7C2;
}
.audioCont .controls {
  display: flex;
  width: 100%;
  justify-content: center;
  --media-control-background:#FF7E3A;
  align-items: center;
  gap: 8px;
}
.audioCont .controls .nextTrack:hover {
  cursor: pointer;
}
.audioCont .controls .playBtn {
  box-shadow: 0px 2px 15px 0px rgba(255, 126, 58, 0.5);
  border-radius: 50%;
}
.audioCont .controls .playBtn:hover {
  background-color: #FFD7C2;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  bottom: 140%;
  left: 50%;
  margin-left: -80px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: #FF7E3A;
  color: #fff;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FF7E3A transparent transparent transparent;
}

.tooltipHover:hover {
  cursor: pointer;
}

.loaderContainer {
  width: 100%;
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentlyPlayedContainer {
  background-color: rgba(255, 255, 255, 0.5137254902);
  border-radius: 24px;
  width: 100%;
  height: 457px;
  padding: 24px;
  color: #353535;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: hidden;
  overflow-y: auto;
}

.recentlyPlayedCards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.recentlyPlayedCards .recentlyPlayedCard {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.recentlyPlayedCards .recentlyPlayedCard .recentlyPlayedDetails {
  display: flex;
  gap: 16px;
  align-items: center;
}
.recentlyPlayedCards .recentlyPlayedCard .recentlyPlayedDetails img {
  border-radius: 8px;
}
.recentlyPlayedCards .recentlyPlayedCard .recentlyPlayedDetails .recentlyPlayedTileAndArtist {
  display: flex;
  flex-direction: column;
}
.recentlyPlayedCards .recentlyPlayedCard .recentlyPlayedButtons {
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: right;
}
.recentlyPlayedCards .recentlyPlayedCard .recentlyPlayedButtons p {
  color: darkGrey;
}
.recentlyPlayedCards .recentlyPlayedCard .recentlyPlayedButtons p span {
  font-weight: 700;
}

body, .root {
  background-color: #F3F4F8;
}

.login {
  background-color: #F3F4F8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .loginContainer {
  width: 50%;
  background-color: #f9f9f9;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.login .splashImg {
  width: 50%;
  background-image: url("../assets/loginSplash.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dashboard {
  height: 100vh;
  display: flex;
}

.mainWrapper {
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
}

.playerAndRecentlyPlayedContainer {
  display: flex;
  gap: 24px;
}/*# sourceMappingURL=style.css.map */