//colors
$orangePrimary : #FF7E3A;
$peachSecondary : #FFD7C2;
$brown : #73391A;
$black : #1C0E06;
$lightPeach : #FFEADF;
$lightWarmGrey: #f9f9f9;
$lightColdGrey: #F3F4F8;
$spotifyGreen: #1DB954;
$white: #FFFFFF;






//font
$fontFamily: "Inter", sans-serif;

//spacing
$s0 : 4px;
$s1 : 8px;
$s2 : 16px;
$s3 : 24px;
$s4 : 32px;
$s5 : 40px;
$s6 : 48px;
$s7 : 56px;
$s8 : 64px;
$s9 : 72px;
$s10 : 80px;
$s12 : 12px;


//radius
$r1 : 8px;
$r2 : 12px;
$r3 : 16px;
$r4 : 24px;
$r5 : 32px;
$r6 : 48px;


//Container widths
$desktopCont: 730px;